/* Estilos para la barra de navegación */

:root {
    --color-primary: #161122;
    --color-secondary: #2d3748;
    --color-tertiary: #4a5568;
    --color-text: #fff;
  }
  
  .inicio-img {
    text-align: center;
  }
  .inicio-img img {
    max-width:60%;
    height: auto;
    border-radius: 50%;
    margin-top: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }

  #inicio {
    border-bottom: 1px solid #793b3b;
  }
 
  h1, h2, h3, h4, h5, h6 {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
  }
  
  p {
    margin-bottom: 1rem;
    font-size: 1rem;
  }
  
  section {
    width: 100%;
    padding: 80px 0 80px;
    background-color: var(--color-primary);
  color: var(--color-text);
  }
  
  section h2 {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }
  
  section ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  section ul li {
    margin-bottom: 1rem;
  }


 

